---
http_interactions:
- request:
    method: get
    uri: "<PEATIO_ENDPOINT>/api/v2/peatio/market/orders?state=wait"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Apikey:
      - access_key
      X-Auth-Nonce:
      - '1624860229886'
      X-Auth-Signature:
      - b1ba5017a2c9c7f31334f289338fd35cd187a0c6e76e7ea62eb60d74cc2b4d90
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"errors":["authz.unexistent_apikey"]}'
  recorded_at: Mon, 28 Jun 2021 06:03:50 GMT
- request:
    method: post
    uri: "<PEATIO_ENDPOINT>/api/v2/peatio/market/orders"
    body:
      encoding: UTF-8
      string: '{"market":"btcusdt","ord_type":"limit","price":"12100.0","volume":"0.0012","side":"sell"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Apikey:
      - access_key
      X-Auth-Nonce:
      - '1624861594724'
      X-Auth-Signature:
      - cbcabf49bbcad5b0b202ecafa6d3818f6f9e5da7eac051cea551a3a5baeaaa20
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"errors":["authz.unexistent_apikey"]}'
  recorded_at: Mon, 28 Jun 2021 06:26:34 GMT
[...]
- request:
    method: post
    uri: "<PEATIO_ENDPOINT>/api/v2/peatio/market/orders"
    body:
      encoding: UTF-8
      string: '{"market":"btcusdt","ord_type":"limit","price":"8100.0","volume":"0.0011","side":"buy"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Apikey:
      - access_key
      X-Auth-Nonce:
      - '1624862905463'
      X-Auth-Signature:
      - a015b794c6dbb08a5666dd664bc4d002b821ed8c16a02c14d2dcb1b84b42d68f
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"errors":["authz.unexistent_apikey"]}'
  recorded_at: Mon, 28 Jun 2021 06:48:25 GMT
recorded_with: VCR 6.0.0
