---
http_interactions:
- request:
    method: get
    uri: "<PEATIO_ENDPOINT>/api/v2/peatio/public/markets/btc_usdterc20/depth"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Apikey:
      - test
      X-Auth-Nonce:
      - '1632159411034'
      X-Auth-Signature:
      - daa414738843e93858948a046132eaa7c8146be3829e6e3a35f73bbca3bded2d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44a59848106ef2284e38242ff63e516b"
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":1632159411,"asks":[["51000.0","0.0005"],["51013.0","0.0008"]],"bids":[]}'
  recorded_at: Mon, 20 Sep 2021 17:36:51 GMT
recorded_with: VCR 6.0.0
